<!DOCTYPE HTML>
<html>
  <head>
    <title>Date</title>
  </head>
  
  <body>
    <h1>Today</h1>
    <%date = DateTime.now %>
    <%now = date.year %>
    <p>
      <%= "#{now}" %>
    </p>
  </body>
</html>